.pagination {
    width: 50px;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    font-size: 18px;

    li {
        padding: 0;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }

    :global {
        .selected {
            a {
                font-weight: 700;
            }
            
        }
    }

}